<div class="container-closed">
  <div *ngIf="loggedin === false">
    <button
      [ngClass]="{
        logsign: true,

        active: currentRoute === '/login'
      }"
      (click)="navigate('/login')"
    >
      Login
    </button>
    <button
      [ngClass]="{
        logsign: true,

        active: currentRoute === '/sign-up'
      }"
      (click)="navigate('/sign-up')"
    >
      Sign up
    </button>
  </div>
  <div style="display: flex">
    <div class="welcome" *ngIf="loggedin">Welcome {{ username }}</div>

    <div
      class="notification-alert-div"
      style="right: 50px; margin-top: 10px"
      *ngIf="totalNoty"
    >
      <p>{{ totalNoty }}</p>
    </div>
  </div>

  <div #hamicon class="container" (click)="openNav()">
    <div class="bar1"></div>
    <div class="bar2"></div>
    <div class="bar3"></div>
    <div #pages class="pages">
      <div>
        <button
          [ngClass]="{
            'a-link-nav': true,
            active: currentRoute === '/'
          }"
          (click)="navigate('/')"
        >
          Home
        </button>
        <button
          [ngClass]="{
            'a-link-nav': true,
            active: currentRoute === '/create-exercise'
          }"
          (click)="navigate('/create-exercise')"
        >
          Create exercise
        </button>
        <button
          *ngIf="loggedin"
          [ngClass]="{
            'a-link-nav': true,
            active: currentRoute === '/saved-exercises'
          }"
          (click)="navigate('/saved-exercises')"
        >
          Saved exercises
        </button>
        <button
          [ngClass]="{
            'a-link-nav': true,
            active: currentRoute === '/public-exercises'
          }"
          (click)="navigate('/public-exercises')"
        >
          Public exercises
        </button>
      </div>
      <div>
        <div>
          <button
            class="a-link-nav butt"
            *ngIf="loggedin"
            (click)="navigate('/user')"
          >
            My account
          </button>
        </div>
        <div style="display: flex">
          <button
            class="a-link-nav butt"
            *ngIf="loggedin"
            (click)="navigate('/friends')"
          >
            Friends
          </button>
          <div class="notification-alert-div" *ngIf="friendsNoty">
            <p>{{ friendsNoty }}</p>
          </div>
        </div>

        <div style="display: flex">
          <button
            class="a-link-nav butt"
            *ngIf="loggedin"
            (click)="navigate('/chat/s')"
          >
            Messages
          </button>
          <div class="notification-alert-div" *ngIf="msgNoty">
            <p>{{ msgNoty }}</p>
          </div>
        </div>
        <div>
          <button class="a-link-nav butt" *ngIf="loggedin" (click)="logout()">
            Logout
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
