<h1 style="cursor: default">ADD FRIENDS</h1>
<div class="users-div">
  <!-- <h2 id="saved-not-found" *ngIf="noexercises">{{ SavedExercisesText }}</h2> -->
  <div>
    <div class="search-div">
      <div class="search">
        <label for="search">Search:</label>
        <input
          type="text"
          id="search"
          placeholder="Search user"
          (ngModelChange)="search()"
          [(ngModel)]="searchInput"
          autocomplete="off"
        />
      </div>
      <div>
        <p
          class="pending-requests true"
          *ngIf="boolOfPendingAcceptance && !filtered"
          (click)="showPending()"
        >
          You have <span>{{ numberOfPendingAcceptance }}</span> pending
          requestes
        </p>
        <p class="pending-requests false" *ngIf="!boolOfPendingAcceptance">
          You have no pending requests
        </p>
        <p
          class="pending-requests true"
          *ngIf="filtered"
          (click)="showPending()"
        >
          Go back to all users
        </p>
      </div>
    </div>

    <ul class="users-list">
      <div class="li-div" *ngFor="let user of users">
        <div class="user-div" style="display: flex; flex-direction: row">
          <img src="{{ user[1] }}" alt="" height="50px" width="50px" />
          <div class="p-aligning">
            <p (click)="visitProfile()">{{ user[0] }}</p>
          </div>
        </div>
        <div id="edit-div">
          <div
            class="p-aligning"
            style="border-inline: 1px white solid"
            *ngIf="user[2] == 'not-related'"
          >
            <p (click)="FriendMangment(user)" id="edit">Add friend</p>
          </div>

          <div
            class="p-aligning"
            style="border-inline: 1px white solid"
            *ngIf="user[2] == 'requested'"
          >
            <p (click)="FriendMangment(user)" id="delete">Requested</p>
          </div>
          <div
            class="p-aligning"
            style="border-inline: 1px white solid"
            *ngIf="user[2] == 'pending-acceptance'"
          >
            <p (click)="FriendMangment(user)" id="edit">Accept</p>
          </div>
          <div
            class="p-aligning"
            style="border-right: 1px white solid"
            *ngIf="user[2] == 'pending-acceptance'"
          >
            <p (click)="FriendMangment(user, 'reject')" id="delete">Reject</p>
          </div>

          <div
            class="p-aligning"
            style="border-inline: 1px white solid"
            *ngIf="user[2] == 'friend'"
          >
            <p (click)="chat()" id="edit">Chat</p>
          </div>
          <div
            class="p-aligning"
            style="border-right: 1px white solid"
            *ngIf="user[2] == 'friend'"
          >
            <p (click)="FriendMangment(user)" id="delete">Unfriend</p>
          </div>

          <div class="p-aligning" style="border-right: 1px white solid">
            <p (click)="block()" id="delete">Block</p>
          </div>
        </div>
      </div>
      <p *ngIf="!FoundUsers" style="text-align: center; cursor: default">
        No users under this username
      </p>
    </ul>
  </div>
</div>
